<a href="https://colab.research.google.com/github/BillySiaga/Project2025/blob/main/DataFrame_Filtering_and_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
'''What You're Aiming For

The objective is to enhance proficiency in manipulating pandas DataFrames by creating and querying datasets using iloc for index-based selections and loc for label-based filtering.

Instructions

In this exercise, you will work with a dataset called "employee info" that contains information about employees in a company. The dataset includes columns such as Name, Department, Age, Gender, Salary, and Experience.

Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

 employee_df = pd.DataFrame(data)
Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".'''
#
import pandas as pd
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
    }
employee_df = pd.DataFrame(data)
print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [15]:
#Use the iloc method to select the first 3 rows of the dataframe.
#
selected_rows = employee_df.iloc[:3]
print(selected_rows)

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [35]:
#Use the loc method to select all rows where the Department is "Marketing".
employee_df = pd.DataFrame(data)
print(employee_df.loc[employee_df["Department"]== "Marketing"])

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [41]:
#Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
employee_df = pd.DataFrame(data)
selected_rows = employee_df.loc[:3, ["Age", "Gender"]]
print(selected_rows)

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [47]:
#Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male"
employee_df = pd.DataFrame(data)

selected_rows = employee_df.loc[employee_df["Gender"] == "Male", ["Salary", "Experience"]]
print(selected_rows)

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10