<a href="https://colab.research.google.com/github/BillySiaga/Project2025/blob/main/Data_Preprocessing_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Processing Checkpoint**
In this checkpoint, we aim to explore and preprocess the billing history of the Tunisian electricity and gas company's customers from 2005 to 2019, focusing on understanding the data structure, handling missing values, performing descriptive analysis, and transforming categorical variables into numerical formats.


Instructions

In this checkpoint, we are going to work on the billing history of the Tunisian electricity and gas company and apply what you learned in pre-processing chapter.

Dataset description :

The provided dataset contains the billing history of the Tunisian electricity and gas company's customers from 2005 to 2019.

➡️ Dataset link

https://i.imgur.com/AaBqRR5.png

Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
What is the data type of the 'client_0_bills' variable ?
Display the general information of the dataset and try to answer the following questions :
How many rows and columns do we have in this dataset ?
How many categorical features are present in the dataset ?
How much memory space does the dataset consume ?
Inspect the dataset for potential missing values.
Select your strategy to handle missing values, and tell us why you had made that choice.
Run a descriptive analysis on numeric features (columns).
Select the bills records for the client with an id ='train_Client_0', using 2 methods.
Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
Delete the 'counter_statue' feature from the Dataframe

# **Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.**

In [ ]:
#Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
import pandas as pd
import numpy as np
df = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')
df.head()
client_0_bills = df.head()
print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number  counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0             0.0
1  train_Client_0   2013-03-29          11       1335667.0             0.0
2  train_Client_0   2015-03-23          11       1335667.0             0.0
3  train_Client_0   2015-07-13          11       1335667.0             0.0
4  train_Client_0   2016-11-17          11       1335667.0             0.0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0         203.0               8.0                  1.0                  82.0
1         203.0               6.0                  1.0                1200.0
2         203.0               8.0                  1.0                 123.0
3         207.0               8.0                  1.0                 102.0
4         207.0               9.0                  1.0                 572.0

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                   0.0                   0.0                   0.0
1                 184.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   0.0

   old_index  new_index  months_number counter_type
0    14302.0    14384.0            4.0         ELEC
1    12294.0    13678.0            4.0         ELEC
2    14624.0    14747.0            4.0         ELEC
3    14747.0    14849.0            4.0         ELEC
4    15066.0    15638.0           12.0         ELEC

# **What is the data type of the 'client_0_bills' variable ?**

In [ ]:
# What is the data type of the 'client_0_bills' variable ?
print(df.dtypes)

client_id                object
invoice_date             object
tarif_type                int64
counter_number          float64
counter_statue          float64
counter_code            float64
reading_remarque        float64
counter_coefficient     float64
consommation_level_1    float64
consommation_level_2    float64
consommation_level_3    float64
consommation_level_4    float64
old_index               float64
new_index               float64
months_number           float64
counter_type             object
dtype: object

# **Display the general information of the dataset and try to answer the following questions : **
How many rows and columns do we have in this dataset ?
How many categorical features are present in the dataset ?
How much memory space does the dataset consume ?

In [ ]:
#Display the general information of the dataset and try to answer the following questions :
# How many rows and columns do we have in this dataset ?
# How many categorical features are present in the dataset ?
# How much memory space does the dataset consume ?
#
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218942 entries, 0 to 218941
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             218942 non-null  object
 1   invoice_date          218942 non-null  object
 2   tarif_type            218942 non-null  int64
 3   counter_number        218939 non-null  float64
 4   counter_statue        218941 non-null  float64
 5   counter_code          218941 non-null  float64
 6   reading_remarque      218708 non-null  float64
 7   counter_coefficient   218941 non-null  float64
 8   consommation_level_1  218941 non-null  float64
 9   consommation_level_2  218941 non-null  float64
 10  consommation_level_3  218941 non-null  float64
 11  consommation_level_4  218941 non-null  float64
 12  old_index             218941 non-null  float64
 13  new_index             218941 non-null  float64
 14  months_number         218941 non-null  float64
 15  counter_type          218941 non-null  object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.7+ MB

,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,218942.000000,2.189390e+05,218941.00000,218941.000000,218708.000000,218941.000000,218941.000000,218941.000000,218941.000000,218941.000000,218941.000000,218941.000000,218941.000000
mean,20.165048,1.038243e+11,0.04113,171.138083,7.317053,0.999995,406.589730,104.897319,20.738464,40.689026,17352.886540,17904.162532,30.295157
std,13.489044,1.496815e+12,0.36964,132.846633,1.360465,0.005654,595.056388,776.565412,255.629238,583.436944,39230.193846,39611.992170,1141.657037
min,8.000000,0.000000e+00,0.00000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,11.000000,1.205230e+05,0.00000,5.000000,6.000000,1.000000,78.000000,0.000000,0.000000,0.000000,1751.000000,2017.000000,4.000000
50%,11.000000,5.000720e+05,0.00000,203.000000,6.000000,1.000000,269.000000,0.000000,0.000000,0.000000,7476.000000,7976.000000,4.000000
75%,40.000000,1.118020e+06,0.00000,207.000000,9.000000,1.000000,600.000000,0.000000,0.000000,0.000000,21346.000000,22026.000000,4.000000
max,45.000000,2.738110e+13,5.00000,532.000000,9.000000,3.000000,93385.000000,99398.000000,45360.000000,87776.000000,998570.000000,973106.000000,99104.000000

In [ ]:
# How many rows and columns do we have in this dataset ?
df.shape

(218942, 16)

In [ ]:
# How many categorical features are present in the dataset ?
import pandas as pd


# Select categorical features
categorical_features = df.select_dtypes(include=['object', 'category'])

categorical_features = categorical_features.shape[1]

print(f"Number of categorical features: {categorical_features}")

Number of categorical features: 3

In [ ]:
# How much memory space does the dataset consume ?
df.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218942 entries, 0 to 218941
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             218942 non-null  object
 1   invoice_date          218942 non-null  object
 2   tarif_type            218942 non-null  int64
 3   counter_number        218939 non-null  float64
 4   counter_statue        218941 non-null  float64
 5   counter_code          218941 non-null  float64
 6   reading_remarque      218708 non-null  float64
 7   counter_coefficient   218941 non-null  float64
 8   consommation_level_1  218941 non-null  float64
 9   consommation_level_2  218941 non-null  float64
 10  consommation_level_3  218941 non-null  float64
 11  consommation_level_4  218941 non-null  float64
 12  old_index             218941 non-null  float64
 13  new_index             218941 non-null  float64
 14  months_number         218941 non-null  float64
 15  counter_type          218941 non-null  object
dtypes: float64(12), int64(1), object(3)
memory usage: 64.2 MB

### Inspect the dataset for potential missing values.

In [ ]:
# inspecting the dataset for potential missing values.
#
df.isnull().sum()

client_id                 0
invoice_date              0
tarif_type                0
counter_number            3
counter_statue            1
counter_code              1
reading_remarque        234
counter_coefficient       1
consommation_level_1      1
consommation_level_2      1
consommation_level_3      1
consommation_level_4      1
old_index                 1
new_index                 1
months_number             1
counter_type              1
dtype: int64

**## Select your strategy to handle missing values, and tell us why you had made that choice.**

In [ ]:
#Selecting strategy to handle missing values, and tell us why you had made that choice.
# replacing missing values with ffill and bfill method because of the repetative values of the column
#
df['reading_remarque'] = df['reading_remarque'].fillna(method = 'ffill').fillna(method = 'bfill', inplace =True)
print(df['reading_remarque'].value_counts())

Series([], Name: count, dtype: int64)

<ipython-input-17-8cb60107bfa6>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['reading_remarque'] = df['reading_remarque'].fillna(method = 'ffill').fillna(method = 'bfill', inplace =True)

In [ ]:
df.head(10)

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,unknown,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,unknown,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,unknown,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,unknown,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,unknown,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0.0,207.0,unknown,1.0,314.0,0.0,0.0,0.0,15638.0,15952.0,8.0,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0.0,207.0,unknown,1.0,541.0,0.0,0.0,0.0,15952.0,16493.0,12.0,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0.0,207.0,unknown,1.0,585.0,0.0,0.0,0.0,16493.0,17078.0,8.0,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0.0,203.0,unknown,1.0,1200.0,186.0,0.0,0.0,7770.0,9156.0,4.0,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0.0,203.0,unknown,1.0,1082.0,0.0,0.0,0.0,9156.0,10238.0,4.0,ELEC

In [ ]:
#replacing other missing values with unknown
#
object_columns = df.select_dtypes(include = 'object')
print(object_columns)
object_columns= df.fillna('unknown', inplace = True)

                  client_id invoice_date counter_number counter_statue  \
0            train_Client_0   2014-03-24      1335667.0            0.0
1            train_Client_0   2013-03-29      1335667.0            0.0
2            train_Client_0   2015-03-23      1335667.0            0.0
3            train_Client_0   2015-07-13      1335667.0            0.0
4            train_Client_0   2016-11-17      1335667.0            0.0
...                     ...          ...            ...            ...
218937  train_Client_105908   2006-03-13       182995.0            0.0
218938  train_Client_105908   2008-03-14       182995.0            0.0
218939  train_Client_105908   2007-11-07       182995.0            0.0
218940  train_Client_105908   2014-03-06       182995.0            0.0
218941  train_Client_105908   2014-05-02          417.0        unknown

       counter_code reading_remarque counter_coefficient consommation_level_1  \
0             203.0          unknown                 1.0                 82.0
1             203.0          unknown                 1.0               1200.0
2             203.0          unknown                 1.0                123.0
3             207.0          unknown                 1.0                102.0
4             207.0          unknown                 1.0                572.0
...             ...              ...                 ...                  ...
218937        203.0          unknown                 1.0                465.0
218938        203.0          unknown                 1.0                 85.0
218939        203.0          unknown                 1.0                 13.0
218940        203.0          unknown                 1.0                635.0
218941      unknown          unknown             unknown              unknown

       consommation_level_2 consommation_level_3 consommation_level_4  \
0                       0.0                  0.0                  0.0
1                     184.0                  0.0                  0.0
2                       0.0                  0.0                  0.0
3                       0.0                  0.0                  0.0
4                       0.0                  0.0                  0.0
...                     ...                  ...                  ...
218937                  0.0                  0.0                  0.0
218938                  0.0                  0.0                  0.0
218939                  0.0                  0.0                  0.0
218940                  0.0                  0.0                  0.0
218941              unknown              unknown              unknown

       old_index new_index months_number counter_type
0        14302.0   14384.0           4.0         ELEC
1        12294.0   13678.0           4.0         ELEC
2        14624.0   14747.0           4.0         ELEC
3        14747.0   14849.0           4.0         ELEC
4        15066.0   15638.0          12.0         ELEC
...          ...       ...           ...          ...
218937    4297.0    4762.0           4.0         ELEC
218938    6847.0    6932.0           4.0         ELEC
218939    6651.0    6664.0           4.0         ELEC
218940   12489.0   13124.0           4.0         ELEC
218941   unknown   unknown       unknown      unknown

[218942 rows x 15 columns]

### **Run a descriptive analysis on numeric features (columns)**

In [ ]:
# Run a descriptive analysis on numeric features (columns)
#
df.describe(include = 'all')

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
count,218942,218942,218942.000000,218942.0,218942.0,218942.0,218942,218942.0,218942.0,218942.0,218942.0,218942.0,218942.0,218942.0,218942.0,218942
unique,6569,4133,NaN,10861.0,7.0,30.0,1,4.0,3022.0,3710.0,958.0,2575.0,52897.0,53649.0,176.0,3
top,train_Client_103744,2019-03-09,NaN,0.0,0.0,203.0,unknown,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,ELEC
freq,280,203,NaN,2195.0,214255.0,73570.0,218942,218937.0,23322.0,186359.0,210142.0,214691.0,14637.0,10086.0,180952.0,150245
mean,NaN,NaN,20.165048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,13.489044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Select the bills records for the client with an id ='train_Client_0', using 2 methods.

In [52]:
#Select the bills records for the client with an id ='train_Client_0', using 2 methods.
#
df[(df['client_id']== 'train_Client_0')]

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,counter_type_numeric
0,train_Client_0,2014-03-24,11,1335667.0,203.0,unknown,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC,0
1,train_Client_0,2013-03-29,11,1335667.0,203.0,unknown,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC,0
2,train_Client_0,2015-03-23,11,1335667.0,203.0,unknown,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC,0
3,train_Client_0,2015-07-13,11,1335667.0,207.0,unknown,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC,0
4,train_Client_0,2016-11-17,11,1335667.0,207.0,unknown,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC,0
5,train_Client_0,2017-07-17,11,1335667.0,207.0,unknown,1.0,314.0,0.0,0.0,0.0,15638.0,15952.0,8.0,ELEC,0
6,train_Client_0,2018-12-07,11,1335667.0,207.0,unknown,1.0,541.0,0.0,0.0,0.0,15952.0,16493.0,12.0,ELEC,0
7,train_Client_0,2019-03-19,11,1335667.0,207.0,unknown,1.0,585.0,0.0,0.0,0.0,16493.0,17078.0,8.0,ELEC,0
8,train_Client_0,2011-07-22,11,1335667.0,203.0,unknown,1.0,1200.0,186.0,0.0,0.0,7770.0,9156.0,4.0,ELEC,0
9,train_Client_0,2011-11-22,11,1335667.0,203.0,unknown,1.0,1082.0,0.0,0.0,0.0,9156.0,10238.0,4.0,ELEC,0
10,train_Client_0,2008-11-25,11,1335667.0,203.0,unknown,1.0,174.0,0.0,0.0,0.0,5417.0,5591.0,4.0,ELEC,0
11,train_Client_0,2012-07-23,11,1335667.0,203.0,unknown,1.0,628.0,0.0,0.0,0.0,10780.0,11408.0,4.0,ELEC,0
12,train_Client_0,2012-11-29,11,1335667.0,203.0,unknown,1.0,886.0,0.0,0.0,0.0,11408.0,12294.0,4.0,ELEC,0
13,train_Client_0,2013-07-22,11,1335667.0,203.0,unknown,1.0,147.0,0.0,0.0,0.0,13983.0,14130.0,4.0,ELEC,0
14,train_Client_0,2014-07-18,11,1335667.0,203.0,unknown,1.0,99.0,0.0,0.0,0.0,14384.0,14483.0,4.0,ELEC,0
15,train_Client_0,2014-11-24,11,1335667.0,203.0,unknown,1.0,141.0,0.0,0.0,0.0,14483.0,14624.0,4.0,ELEC,0
16,train_Client_0,2015-11-18,11,1335667.0,207.0,unknown,1.0,217.0,0.0,0.0,0.0,14849.0,15066.0,4.0,ELEC,0
17,train_Client_0,2012-03-27,11,1335667.0,203.0,unknown,1.0,292.0,0.0,0.0,0.0,10488.0,10780.0,4.0,ELEC,0
18,train_Client_0,2011-03-30,11,1335667.0,203.0,unknown,1.0,497.0,0.0,0.0,0.0,7273.0,7770.0,4.0,ELEC,0
19,train_Client_0,2013-02-12,11,1335667.0,203.0,unknown,1.0,38.0,0.0,0.0,0.0,14264.0,14302.0,2.0,ELEC,0
20,train_Client_0,2010-07-22,11,1335667.0,203.0,unknown,1.0,278.0,0.0,0.0,0.0,6761.0,7039.0,4.0,ELEC,0
21,train_Client_0,2010-11-24,11,1335667.0,203.0,unknown,1.0,234.0,0.0,0.0,0.0,7039.0,7273.0,4.0,ELEC,0
22,train_Client_0,2005-10-17,11,1335667.0,203.0,unknown,1.0,124.0,0.0,0.0,0.0,3685.0,3809.0,4.0,ELEC,0
23,train_Client_0,2006-02-24,11,1335667.0,203.0,unknown,1.0,141.0,0.0,0.0,0.0,3809.0,3950.0,4.0,ELEC,0
24,train_Client_0,2006-06-23,11,1335667.0,203.0,unknown,1.0,162.0,0.0,0.0,0.0,3950.0,4112.0,4.0,ELEC,0
25,train_Client_0,2006-10-18,11,1335667.0,203.0,unknown,1.0,159.0,0.0,0.0,0.0,4112.0,4271.0,4.0,ELEC,0
26,train_Client_0,2007-06-27,11,1335667.0,203.0,unknown,1.0,240.0,0.0,0.0,0.0,4453.0,4693.0,4.0,ELEC,0
27,train_Client_0,2007-10-25,11,1335667.0,203.0,unknown,1.0,276.0,0.0,0.0,0.0,4693.0,4969.0,4.0,ELEC,0
28,train_Client_0,2007-02-26,11,1335667.0,203.0,unknown,1.0,182.0,0.0,0.0,0.0,4271.0,4453.0,4.0,ELEC,0
29,train_Client_0,2008-07-28,11,1335667.0,203.0,unknown,1.0,171.0,0.0,0.0,0.0,5246.0,5417.0,4.0,ELEC,0
30,train_Client_0,2009-01-04,11,1335667.0,203.0,unknown,1.0,315.0,0.0,0.0,0.0,5591.0,5906.0,4.0,ELEC,0
31,train_Client_0,2009-07-27,11,1335667.0,203.0,unknown,1.0,312.0,0.0,0.0,0.0,5906.0,6218.0,4.0,ELEC,0
32,train_Client_0,2009-11-24,11,1335667.0,203.0,unknown,1.0,267.0,0.0,0.0,0.0,6218.0,6485.0,4.0,ELEC,0
33,train_Client_0,2010-03-29,11,1335667.0,203.0,unknown,1.0,276.0,0.0,0.0,0.0,6485.0,6761.0,4.0,ELEC,0
34,train_Client_0,2008-01-04,11,1335667.0,203.0,unknown,1.0,277.0,0.0,0.0,0.0,4969.0,5246.0,4.0,ELEC,0

## Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.

In [53]:
#Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder() # Initialize the encoder

# Apply the transformation
df['counter_type_numeric'] = label_encoder.fit_transform(df['counter_type'])

print(df[['counter_type', 'counter_type_numeric']].head())

  counter_type  counter_type_numeric
0         ELEC                     0
1         ELEC                     0
2         ELEC                     0
3         ELEC                     0
4         ELEC                     0

## Delete the 'counter_statue' feature from the Dataframe

In [55]:
# Deleting the 'counter_statue' feature from the Dataframe
#
df = df.drop('counter_statue', axis = 1, errors = 'ignore')
df.head()

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,counter_type_numeric
0,train_Client_0,2014-03-24,11,1335667.0,203.0,unknown,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC,0
1,train_Client_0,2013-03-29,11,1335667.0,203.0,unknown,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC,0
2,train_Client_0,2015-03-23,11,1335667.0,203.0,unknown,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC,0
3,train_Client_0,2015-07-13,11,1335667.0,207.0,unknown,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC,0
4,train_Client_0,2016-11-17,11,1335667.0,207.0,unknown,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC,0